<!DOCTYPE html>
<html>

	<head>
		<title>Slask page</title>
		<meta charset='utf-8' />

		<link href='css/normalize.css' rel='stylesheet' />
		<link href='css/slask.css' rel='stylesheet' />
	</head>

	<body>
		<section class="body">
			<section class="body-content">
				<section class="hero"
			</section>
		</section>
	</body>

</html>
