{{#with data}}
    <div class="footer-links">
        {{#each pages}}
            <a class="a footer-a" href="{{path}}">{{name}}</a>
        {{/each}}
    </div>
    <div class="footer-coop">{{copyright}}</div>
{{/with}}